body {
  margin: 0px;
  background-color: #1a1a1a;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container-slide {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  opacity: 0.8;
  transform: scale(0.9);
  transition: 0.4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  gap: 20px;
}

[data-control="slide"] li a {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f1702b;
  overflow: hidden;
  text-indent: -999px;
}

[data-control="slide"] li.active a,
[data-control="slide"] li a:hover {
  background-color: #d45815;
}

.custom-control {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0px 40px 0px;
  justify-content: center;
}
.custom-control li img {
  opacity: 0.8;
  transform: scale(0.8);
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.4s;
}

.custom-control li.active img {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}
.arrow-nav .prev,
.arrow-nav .next {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  background: #f1702b url("../img/arrow.svg") center no-repeat;
  cursor: pointer;
}

.arrow-nav .prev {
  transform: rotate(-180deg);
}
